<div class="container">
    <div class="titleandsearch">
        <span class="title">Hello {{user_first_name()}}</span>
        <input type="text" class="search" placeholder="Search" />
    </div>
    <div #chatContainer *ngIf="!showItems" class="chat-msg-container">
        @for (item of chatItems(); track $index) {
        <div class="chat-msg {{(item.sender == `self`)?`send`:`recv`}} {{($index==0)?'first': ''}}">
            <span>{{item.message}}</span>
        </div>
        }

    </div>

    <div class="dashboard-items-container" *ngIf="showItems">
        <div class="recent">
            <span class="item-title">Recent Queries</span>
            @for (i of recentQs; track $index) {
            <div class="query" (click)="onSendReal(i)">
                <span>{{i}}</span>
            </div>
            }
        </div>
        <div class="recent">
            <span class="item-title">Most Used Queries</span>
            @for (i of mostUsedQs; track $index) {
            <div class="query" (click)="onSendReal(i)">
                <span>{{i}}</span>
            </div>
            }
        </div>
    </div>
    <div class="chat-container">
        <div class="chatbox">
            <textarea #chatInput type="text" placeholder="Ask Zafo anything about your Product data!"></textarea>
            <div class="send-button" (click)="onSendReal(chatInput.value)">
                <img src="assets/img/send.png" alt="">
            </div>
        </div>
    </div>
</div>