<div class="container">
    <div class="titleandsearch">
        <span class="title">Hello {{user_first_name()}}</span>
        <input type="text" class="search" placeholder="Search" />
    </div>
    
    <div class="dashboard-items-container" *ngIf="!chatComponent || chatComponent.messages().length === 0">
        <div class="recent">
            <span class="item-title">Recent Queries</span>
            @for (i of recentQs; track $index) {
            <div class="query" (click)="onQueryClick(i)">
                <span>{{i}}</span>
            </div>
            }
        </div>
        <div class="recent">
            <span class="item-title">Most Used Queries</span>
            @for (i of mostUsedQs; track $index) {
            <div class="query" (click)="onQueryClick(i)">
                <span>{{i}}</span>
            </div>
            }
        </div>
    </div>
    
    <div class="chat-wrapper">
        <app-chat 
            [placeholder]="'Ask Zafo anything about your Product data!'"
            [botName]="'Zafo'"
            [userSenderName]="'self'"
            [botSenderName]="'zafo'"
            (messageSent)="onMessageSent($event)">
        </app-chat>
    </div>
</div>